// -------------------------------------------
// Media Queries for DuoArtStudio by NataliaBajek
// -------------------------------------------
@media only screen and (max-width: 1200px){
	body{
		nav{
			height: 50px;
			.container-fluid{
				.logo-min{
		      height: 30px;
		      top: 50%;
		      margin-top: -15px;
		      //margin-left: 50px;
					.img-logo-min{
						height: 30px;
					}
				}
				.nav-links{
					.nav-list{
						justify-content: space-evenly;
						font-size: 17px;
						height: 50px;
						li{
							padding: 0 5px;
						}
					}
				}
			}
		}
		#main-page{
			.logo{
		    img{
		      width: 300px;
		    }
		  }
		}	
	}
}

@media only screen and (max-width: 992px){
	body{
		nav{
			.container-fluid{
				.img-logo{
					//display: none;
				}
				.nav-links{
					.nav-list{
						//justify-content: center;
						li{
							padding: 5px 5px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 723px){
	body{
		// .sticky{
		// 	height: 70px;
		// }
		nav{
			.container-fluid{
				.nav-links{
					.nav-list{
						.nav-a{
							font-size: 15px;
							padding: 0 2px !important;
						}
					}
				}
			}
		}		
	}
}

@media only screen and (max-width: 360px){
	body{
		#main-page{
			.logo{
				img{
					width: 250px;
				}
			}
		}
		#contact{
			.map{
				display: none;
			}
		}
	}
}

@media (min-width: 1200px){
  .container-fluid{
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
	.container-fluid {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 969px){
	.container-fluid {
    width: 750px;
  }
}

@media (min-width: 550px) and (max-width: 991px){
	#portfolio{
		h2{
			font-size: 35px;
			&:hover{
				font-size: 45px;
			}
		}
	}
}