@import 'media-queries';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$beige: #FDFBF8;
$lightgrey-nav: #EFEFEF;
$border-nav: #9A9A9A;
$lightgrey: #CFD2D2;
$darkgrey: #171c20;
$gold: #E8CE7A; //#EB9D00;
$gold2: #FFD559;

//----------------------------------------------------------
// 0. General
//----------------------------------------------------------
html, body{
  height: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  a{
    color: $darkgrey;
  }
}
//----------------------------------------------------------
// 1. Nav
//----------------------------------------------------------
nav{
  width: 100%;
  height: 70px;
  background-color: white;;
  z-index: 2;
  position: relative;
  .container-fluid{
    .nav-logo{
      position: absolute;
    }
    .logo-min{
      height: 50px;
      top: 50%;
      margin-top: -25px;
      .img-logo-min{
        height: 50px;
      }
    }
    .navbar-header{
      button{
        i{
          color: #EFEFEF;
        }
      }
    }
    .nav-links.navbar-collapse.in{
      overflow-y: visible;
      .nav-list{
        padding-top: 50px;
        flex-flow: column nowrap;
        align-items: flex-end;
      }
    }
    .nav-links{
      .nav-list{
        display: flex;
        //flex-flow: row wrap;
        //justify-content: space-between;
        align-items: center;
        //margin-bottom: 0;
        height: 70px;
        font-size: 20px;
        li{
          list-style-type: none;
          text-transform: uppercase;
          padding-left: 25px;
          .nav-a{
            text-decoration: none;
            padding: 0 5px;
            &:hover{
              border-bottom: 1px solid ;
              color: $darkgrey;
              background-color: transparent;
            }
            &:focus{
              border-bottom: 1px solid ;
              color: $darkgrey;
              background-color: transparent;
            }
          }
        }
      }     
    }
  }
}
//----------------------------------------------------------
// 2. Gallery
//----------------------------------------------------------
.gallery{
	.item{
		img{
			height: 600px;
		}
	}
	.slick-slide{
		margin: 0 50px;
	}
	.slick-prev{
		left: 80px;
		z-index: 2;
	}
	.slick-next{
		right: 100px;
		z-index: 2;
	}
	.slick-prev:before, .slick-next:before{
		font-size: 40px;
	}
}