@media only screen and (max-width: 1200px) {
  body nav {
    height: 50px; }
    body nav .container-fluid .logo-min {
      height: 30px;
      top: 50%;
      margin-top: -15px; }
      body nav .container-fluid .logo-min .img-logo-min {
        height: 30px; }
    body nav .container-fluid .nav-links .nav-list {
      justify-content: space-evenly;
      font-size: 17px;
      height: 50px; }
      body nav .container-fluid .nav-links .nav-list li {
        padding: 0 5px; }
  body #main-page .logo img {
    width: 300px; } }
@media only screen and (max-width: 992px) {
  body nav .container-fluid .nav-links .nav-list li {
    padding: 5px 5px; } }
@media only screen and (max-width: 723px) {
  body nav .container-fluid .nav-links .nav-list .nav-a {
    font-size: 15px;
    padding: 0 2px !important; } }
@media only screen and (max-width: 360px) {
  body #main-page .logo img {
    width: 250px; }
  body #contact .map {
    display: none; } }
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    width: 970px; } }
@media (min-width: 768px) and (max-width: 969px) {
  .container-fluid {
    width: 750px; } }
@media (min-width: 550px) and (max-width: 991px) {
  #portfolio h2 {
    font-size: 35px; }
    #portfolio h2:hover {
      font-size: 45px; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif; }
  html a, body a {
    color: #171c20; }

nav {
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 2;
  position: relative; }
  nav .container-fluid .nav-logo {
    position: absolute; }
  nav .container-fluid .logo-min {
    height: 50px;
    top: 50%;
    margin-top: -25px; }
    nav .container-fluid .logo-min .img-logo-min {
      height: 50px; }
  nav .container-fluid .navbar-header button i {
    color: #EFEFEF; }
  nav .container-fluid .nav-links.navbar-collapse.in {
    overflow-y: visible; }
    nav .container-fluid .nav-links.navbar-collapse.in .nav-list {
      padding-top: 50px;
      flex-flow: column nowrap;
      align-items: flex-end; }
  nav .container-fluid .nav-links .nav-list {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 20px; }
    nav .container-fluid .nav-links .nav-list li {
      list-style-type: none;
      text-transform: uppercase;
      padding-left: 25px; }
      nav .container-fluid .nav-links .nav-list li .nav-a {
        text-decoration: none;
        padding: 0 5px; }
        nav .container-fluid .nav-links .nav-list li .nav-a:hover {
          border-bottom: 1px solid;
          color: #171c20;
          background-color: transparent; }
        nav .container-fluid .nav-links .nav-list li .nav-a:focus {
          border-bottom: 1px solid;
          color: #171c20;
          background-color: transparent; }

.gallery .item img {
  height: 600px; }
.gallery .slick-slide {
  margin: 0 50px; }
.gallery .slick-prev {
  left: 80px;
  z-index: 2; }
.gallery .slick-next {
  right: 100px;
  z-index: 2; }
.gallery .slick-prev:before, .gallery .slick-next:before {
  font-size: 40px; }

/*# sourceMappingURL=photo-style.css.map */
